
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <style>
    form{
      width:40% !important;
      margin-left: 10%;
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">Eshopping</a>
      <form action="{% url 'searchproduct' %}" method="POST">
        <div class="search-bar">
        {% csrf_token %}
            <div class="input-group">
              <input type="search" required class="form-control" name="productsearch" id="search" placeholder="search products">
              <button type="submit" class="input-group-text"><i class="fa fa-search"></i></button>
            </div>
          </div>
        </form>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'home' %}active{% endif %}"aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'collections' %}active{% endif %}" href="{% url 'collections' %}">
              Collections
            </a>
          </li>
          <li class="nav-item"><a class="nav-link {% if request.resolver_match.url_name == 'cartview' %} active {% endif %}"  href="{% url 'cartview' %}">Cart<i class="fa fa-shopping-cart text-primary"></i></a></li>
          <li class="nav-item"><a class="nav-link {% if request.resolver_match.url_name == 'wishlistview' %} active {% endif %}"  href="{% url 'wishlistview' %}">Wishlist<i class="fa fa-heart text-danger"></i></a></li>
           
          
          {% if request.user.is_authenticated %}
   
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{request.user}}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url 'my-order' %}">My orders</a></li>
              <li><a class="dropdown-item" href="{% url 'changepassword' %}">Change Password</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
            </ul>
          </li>
       
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">Register</a>
          </li>         
      {% endif %}
        </ul>
      </div>
    </div>
  </nav>
</body>
</html>


