{% extends "layout/main.html" %}
{% block content %}
<div class="py-3 bg-primary">
    <div class="container">
        <a class="text-white" href="{% url 'home' %}">Home/</a>
        <a class="text-white" href="{% url 'myorders' %}">my orders</a>  
    </div>
  </div>
<div class="container my-3">
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow">
                <div class="card-header"><h3>Order View</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h4>Shipping Details</h4>
                            <hr>
                            <label class="mt-2">First Name</label>
                            <div class="border p-1">{{orders.fname}}</div>
                            <label class="mt-2">Last Name</label>
                            <div class="border p-1">{{orders.lname}}</div>
                            <label class="mt-2">Email</label>
                            <div class="border p-1">{{orders.email}}</div>
                            <label class="mt-2">Phone</label>
                            <div class="border p-1">{{orders.phone}}</div>
                            <label class="mt-2">Address</label>
                            <div class="border p-1">
                                {{orders.address}},
                                {{orders.city}},
                                {{orders.state}},
                                {{orders.country}}.
                            </div>
                            <label class="mt-2">Zipcode</label>
                            <div class="border p-1">{{orders.pincode}} </div>
                        </div>
                        <div class="col-md-6"> 
                            <h4>Order Details</h4>
                            <hr>
                        <table class="table table-border">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                    <th>Image</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in orderitems %}
                                <tr>
                                    <td>{{item.product.name}}</td>
                                    <td>{{item.quantity}}</td>
                                    <td>{{item.price |stringformat:'d'}}</td>
                                    <td><img src="{{item.product.product_image.url}}" alt="productimage" width="50px" height="50px"></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <h4> <span class="float-end">Grand Total:{{orders.total_price |stringformat:'d'}}/-</span></h4>
                        <h6>Payment mode: {{orders.payment_mode}}</h6>
                        <h6>Order status: {{orders.status}}</h6>
                        <h6>Tracking no: {{orders.tracking_no}}</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}